.file-tree-wrapper {
  position: absolute;
  top: 115px;
  bottom: 0;
  background-color: midnightblue;
  color: gold;
  width: 260px;
  text-align: left;
}
.file-tree-main {
  padding: 15px;
  padding-left: 15px;
}

.right-arrows {
  width: 8px;
  margin-right: 5%;
  vertical-align: baseline;
}

.file-view-wrapper {
  position: absolute;
  top: 115px;
  left: 260px;
  right: 0;
  /*padding: 15px;*/
}

.file-iframe-wrapper {
  width: 100%;
  height: 600px;
}